section{
  display: flex;
  flex-direction: column;
  margin: 3vh 3vw 0 3vw;
}

mark{
  cursor: pointer;
  background-color: #fff;
}
#btn{
  color: white;
  background: black;
  border: 0;
  padding: 10px;
}
input{
  border: none;
  outline:none;
}
.exit{
  background: black;
  border: 0;
  padding: 10px 20px;
  color: white;
  height: 25px;
}
header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input:focus:not(:nth-child(3)){
  border-bottom: 1px solid black;
}