.form{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form > div{
    min-width: 25vw;
    max-width: 30vw;
    border: 1px solid #4045be;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.form  h1{
    background: linear-gradient(#3e7bb2, #386d9c);
    font-weight: bold;
    color: white;
    padding: 20px 0;
    width: 100%;
    text-align: center;
}

.form form{
    margin: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
}

form > input:first-child{
    border-radius: 4px 4px 0 0;
    padding-left: 5px;
}

input[name="password"] {
    border-radius: 0 0 4px 4px;
}


.form input:not([type="radio"]){
    padding: 10px 0;
    padding-left: 5px;
    outline: none;
    border: 0;
    border: 1px solid #808080;
    border-bottom-color: transparent;
    width: 97%;
}

input:focus::placeholder{
    color: transparent;
}

.form input[type="submit"]{
    width: 100%;
    margin-top: 10px;
    background: linear-gradient(#fbc34c, #e8a42d);
    border: 0;
    border: 1px solid #808080;
    border-radius: 3px;
    font-weight: bold;
    padding: 10px;
}

.form input[type="submit"]:hover{
    cursor: pointer;
}

.form input[name="password"], .form input[type="text"]:nth-child(2){
    border-bottom-color:  #808080;
}

.form form > label{
    margin-top: 5px;
}

a{
    margin: auto;
    margin-top: 10px;    
    text-decoration: none;
    color: #808080;
}

a:hover {
    cursor: pointer;
    color: #4e4e4e;
}

.radiobutton{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.radiobutton > label{
    margin: 5px;
    width: 80%;
}

.radiobutton > input{
    margin: 5px;
}

input:invalid:not(:placeholder-shown) {border-color: red;}
input:valid:not(:placeholder-shown) {border-color: green;}